body {
    font-family: 'DM Serif Display', serif;
}

/* section one------------- */
#SectionOne {
    color: rgb(255, 0, 119);
    text-align: center;
    padding: 80px;
    background-image: url(donate-today-main/images/donation13.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: ;

}

#HeadinTag {
    font-size: 80px;
}

.Button {
    text-decoration: none;
    color: white;
    background-color: rgb(216, 16, 16);
    padding: 10px;

}